@font-face {
  font-family: 'NewRocker';
  src: url('fonts/CarterOne.ttf') format('truetype');
  /* src: url('fonts/NewRocker-Regular.ttf') format('truetype'); */
}
html, body { 
    height:  100%;
    overflow: hidden;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}